* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.contact-page {
  background-image: linear-gradient(#9dddcc, #23acff);
  min-height: 86.8vh;
  /* height:100% */
}

.main-contact {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.contain {
  color: black;
  display: flex;
  padding: 4px;
}


.get-in-touch {
  font-size: 30px;
  color: #777e9b;
  font-weight: 800;
  font-family: cursive;
}

.Enter-your-name {
  width: 320px;
  background-color: aliceblue;
}

.Enter-your-mobile-number {
  width: 320px;
  background-color: aliceblue;
}

.Enter-your-emailid {
  width: 320px;
  background-color: aliceblue;
}

.Enter-your-message {
  width: 320px;
  background-color: aliceblue;
  border-radius:4px;
}

.section-one {
  width: 50%;
  display: grid;
  justify-content: center; 
}

.inner-section-one {
  width: 100%;
}

.section-two {
  width: 50%;
  display: grid;
  justify-content: center;
}

.submit {
  /* margin-top:20px; */
  background-color: blue;
  border-radius: 40px;
  font-size: 20px;
  width: 150px;
  color: white;
  padding-block: 4px;
}

.my-contact-details {
  font-size: 30px;
  /* color:blue; */
  color: #777e9b;
  font-family: cursive;
  font-weight: 800;
  text-align: center;
}

.email {
  padding: 20px;
  /* font-style: italic; */
}

.number {
  padding: 20px;
  /* font-style: italic; */
}

.address {
  padding: 20px;
  /* font-style: italic; */
}

.btn {
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px;
  background: #eee;
  border-radius: 6px;
  position: fixed;
  top: 0;
  left: 50%;
  /* transform islye lgaya ta k wo page k center p ajaye */
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  border: 1px solid black;
  /* box-shadow: 0px 0px 10px 10px #eee */
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
  /* left: 50%; */
  top: -60px;
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  padding-top: 12px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: gray;
  font-style: italic;
  padding: 6px;
}

textarea::placeholder {
  color: gray;
  font-style: italic;
  padding: 6px;
}

/* to hide the small two arrows in input type number field  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
*/ form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for error messages */
span {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/* Styles for the submit button */
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

@media (max-width: 1440px) {
  .popup {
    width: 400px;
    background: #eee;
    border-radius: 6px;
    position: fixed;
    margin-top: 50px;
    top: 0;
    left: 50%;
    /* transform islye lgaya ta k wo page k center p ajaye */
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 1px solid black;
    /* box-shadow: 0px 0px 10px 10px #eee */
  }
  
  .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    top: -60px;
  }
  
  .popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    padding-top: 12px;
  }

  
  
  .popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

}


@media (max-width: 1024px) {
  .contact-page {
    height:130vh;
  }
  
  .buttonsubmit  {
    margin-top:-4px;
  }
  .popup {
    width: 400px;
    background: #eee;
    border-radius: 6px;
    position: fixed;
    margin-top: 50px;
    top: 0;
    left: 50%;
    /* transform islye lgaya ta k wo page k center p ajaye */
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 1px solid black;
    /* box-shadow: 0px 0px 10px 10px #eee */
  }
  
  .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    /* left: 50%; */
    top: -60px;
  }
  
  .popup h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0 10px;
    padding-top: 12px;
  }
  
  .popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}




@media (max-width: 768px) {
  .contact-page {
    /* height:90vh; */
  }
  .section-one h1,
  p {
    font-size: 12px;
  }
  .get-in-touch {
    margin-top: 4px;
  }
  
  .section-two h1,
  p,
  .Enter-your-name,
  .Enter-your-mobile-number,
  .Enter-your-emailid,
  .Enter-your-message {
    font-size: 12px;
  }
  .get-in-touch {
    font-size: 12px;
  }
  .section-two .submit {
    font-size: 12px;
    padding-top: 8px 0px;
  }
  .popup {
    width: 300px;
    background: #eee;
    border-radius: 6px;
    position: fixed;
    margin-top: 50px;
    left: 50%;
    /* transform islye lgaya ta k wo page k center p ajaye */
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 1px solid black;
    /* box-shadow: 0px 0px 10px 10px #eee */
    height:220px;
   }
   
   .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
   }
   
   .popup img {
    width: 65px;
    margin-top: 2px;
    /* border-radius: 10%; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    position: absolute;
    right: 50%;
    /* transform: translate(50%, 50%); */
    /* left: 50%; */
    top: -60px;
    /* padding:100px */
   }
   
   .popup h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0 10px;
    padding-top: 12px;
   }
   
   .popup button {
    width: 80%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   }
}

@media (max-width: 514px) {
  .section-one {
    width: 52%;
  }
}

@media (max-width: 425px) {
  .contact-page{
    height:100%
  }
  .contain {
    flex-direction: column;
    align-items: center;

  } 
  .email {
    padding: 0px;
    padding-top: 10px;
  } 
  .number {
    padding: 4px;
    padding-top: 10px;
  } 
  .address {
    padding: 4px;
    padding-top: 10px;
  } 
  .section-one {
    margin: 10px;
  }
   /* .your-name {
    display: flex;
    width: 100%;
  } 

  .your-name h1 {
    width: 30%;
    padding: 4px;
  } */
  /* .your-name input {
    width: 100%;
    padding: 4px;
    height:30px
  } */

  /* .section-two {
    width: 80%;
  } */

  /* .your-phonenumber{
    display: flex;
    width: 100%;
  } */

  /* .your-phonenumber h1{
    width: 30%;
    padding: 4px;
  }
  .your-phonenumber input{
    width: 100%;
    padding: 4px;
    height:30px;
  } */

  /* .your-email{
    display: flex;
    width: 100%;
  }

  .your-email h1{
    width: 30%;
    padding: 4px;
  }
  .your-email input{
    width: 100%;
    padding: 4px;
    height:30px;
  } */

  /* .write-yourmessage {
    display: flex;
    width: 100%;
  }

  .write-yourmessage h1 {
    width: 26%;
    padding-right:-20px;
  } */
  /* .write-yourmessage textarea{
    width: 75%;
    padding-left:20px;
    height:50px;
  } */

  .popup {
    width: 200px;
    background: #eee;
    border-radius: 6px;
    position: fixed;
    margin-top: 50px;
    left: 50%;
    /* transform islye lgaya ta k wo page k center p ajaye */
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 1px solid black;
    /* box-shadow: 0px 0px 10px 10px #eee */
    height:220px;
   }
   
   .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
   }
   
   .popup img {
    width: 65px;
    margin-top: 2px;
    /* border-radius: 10%; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    position: absolute;
    right: 50%;
    /* transform: translate(50%, 50%); */
    /* left: 50%; */
    top: -60px;
    /* padding:100px */
   }
   
   .popup h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 10px;
    padding-top: 12px;
   }
   
   .popup button {
    width: 80%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   }

   .section-two .submit {
    font-size: 12px;
    padding-top: 8px 0px;
  }

  .buttonsubmit  {
    margin-left:90px
  }
}

@media (max-width: 375px) {
  .contact-page {
    min-height:86.8vh;
  }

  .section-one .get-in-touch{
    font-size: 32px !important;
    color:pink;
  }
}
